html, body, #app {
  margin: 0;
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: 1fr 250px;
}

#map {
  background: #eee;
  display: grid;
  position: relative;
}

#image {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: auto;
  grid-template-columns: minmax(0, max-content);
}

#image.fit {
  overflow: hidden;
  grid-template-rows: minmax(0, 100%);
  grid-template-columns: auto;
}

#image.fit img {
  max-width: 100%;
  max-height: 100%;
}

#credit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  background: #fff9;
}

#options {
  padding: 8px;
}

#options label {
  display: block;
}
